.no-match-page {
  .error-text {
    @keyframes rotate {
      from { transform: rotate(0deg); }
      to { transform: rotate(360deg); }
    }
    
    animation: {
      name: rotate;
      iteration-count: infinite;
      duration: 1s;
    };
  }
}