header {
  background-color: $gray-300;
  border-bottom: 2px solid $gray-400;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 1.3rem 0;
  
  ul {
    list-style: none;
    text-align: center;
    margin: 0;
    
    li {
      display: inline-block;
      
      + li {
        margin-left: 1rem;
      }
      
      a {
        font-size: 1.3rem;
        
        &.active {
          font-weight: bold;
        }
      }
    }
  }
}