@import 'styles/dependencies';

@import 'components/header/header';
@import 'components/sub-page/sub-page';
@import 'components/no-match-page/no-match-page';

html {
  font-size: 0.625rem; // 10px in default browser settings
}

.app {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  
  main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    
    > div {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 3rem;
      font-weight: bold;
    }
  }
}